.site_header{
    display: inline;
}

.site_title{
    float: right;
    text-align: center;
}

.side_search{
  height: 100%;
  width: 200px;
  position: fixed;
  z-index: 1;
  left: 1em;
  background-color: rgb(36, 36, 36);
  color: white;
}

.price_range{
    padding-top: 1em;
}

datalist {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  writing-mode: vertical-lr;
  width: 200px;
}

option {
  padding: 0em;
}

input[type="range"] {
  width: 200px;
  margin: 0;
}

.search_button{
    margin: 1em;
}

.main{
padding-left: 10%;
}


.sale_ad{
    position: relative;
    text-align: center;
    color: rgb(70, 68, 68);
}

.sale_text_centered{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}




.column {
    float: left;
    width: 20%;
    padding: 1em;
    padding-right: 5em;
  }
  
  /* Remove extra left and right margins, due to padding in columns */
  .row {margin: 0 -5px;}
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Style the counter cards */
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
    padding: 10px;
    text-align: center;
    background-color: #f1f1f1;
  }

  .blog_column{
    float: left;
    padding: 1em;
   
  }

  .picture_column_left{
    width: 20%;
    padding-right: 5em;
  }

  .blog_column_right{
    width: 75%;
  }

  .blog_row:after{
    content: "";
    display: table;
    clear: both;
  }
.read_more_button{
    float: right;
}
  
  


  /* Responsive columns - one column layout (vertical) on small screens */
  @media screen and (max-width: 600px) {
    .column {
      width: 100%;
      display: block;
      margin-bottom: 20px;
    }
  }
